{% extends "base.html" %}
{% load static from staticfiles %}


{% block content %}
    <!-- Content Sections -->
    <div id="content">

        <!-- Post Feed -->
        <div class="container">
            <div class="row">

                <!-- Post Feed -->
                <section id="articles" class="">
                    <div class="container">
                        <div class="row">
                            <!--Content Column-->
                            <div class="col-md-12">
                                <div class="row">
                                    <article id="01" class="col-md-12 post hentry">
                                        <div class="post-detail">
                                            <h1 class="font-accident-two-normal e-uppercase text-center">Weddings</h1>
                                        </div>
                                        <div class="post-excerpt justify">
                                            <div id="text-16">
                                                <p>Claire performs weekly at wedding ceremonies, receptions, & evening
                                                    meals. Any combination of these can be provided as a reduced
                                                    rate package deal. Ceremonies catered for are church ceremonies,
                                                    humanist, spiritual,
                                                    HSE, same-sex, blessings, vow renewals… or let Claire know if you
                                                    had something else in mind.

                                                <p>Claire can be booked as a harpist, pianist, singer, singer-harpist,
                                                    or singer-pianist. She is also available to collaborate with other
                                                    singers or musicians, having a wide network to call on..</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="e-divider-6"></div>

                            <div class="col-md-12">
                                <div class="row">
                                    <article id="01" class="post-block col-md-3 post hentry text-center">
                                        <div class="box">
                                            <div class="img-wrap"><a href="#"><img
                                                    class="img-responsive"
                                                    src="{% static "assets/custom/images/claire_harp_1.jpg" %}"
                                                    alt="01"></a></div>
                                        </div>
                                    </article>
                                    <article id="02" class="post-block col-md-3 post hentry text-center">
                                        <div class="box">
                                            <div class="img-wrap"><a href="#"><img
                                                    class="img-responsive"
                                                    src="{% static "assets/custom/images/keyboard_outside.jpg" %}"
                                                    alt="01"></a></div>
                                        </div>
                                    </article>
                                    <article id="03" class="post-block col-md-3 post hentry text-center">
                                        <div class="box">
                                            <div class="img-wrap"><a href="#"><img
                                                    class="img-responsive"
                                                    src="{% static "assets/custom/images/wedding_harp.jpg" %}"
                                                    alt="01"></a></div>
                                        </div>
                                    </article>
                                    <article id="04" class="post-block col-md-3 post hentry text-center">
                                        <div class="box">
                                            <div class="img-wrap"><a href="#"><img
                                                    class="img-responsive"
                                                    src="{% static "assets/custom/images/cow.jpg" %}"
                                                    alt="01"></a></div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <!--/Content Column-->

                            <div class="col-md-6">
                                <h1 class="font-accident-two-normal e-uppercase text-left">Church Ceremony</h1>
                                <div class="e-divider-1"></div>
                                <h3 class="font-accident-two-normal e-uppercase">Processional</h3>
                                <p><em><a href="#">Pachelbel’s Canon in D</a></em></p>
                                <p><a href="#"><em>Bridal March (Here Comes The Bride)</em></a></p>
                                <p><a href="#"><em>How Long Will I Love You</em></a></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Lighting of the Candles</h3>
                                <h4 class="font-accident-two-normal e-uppercase">(instrumentals)</h4>
                                <p><a href="#"><em>For The Love of a Princess</em></a></p>
                                <p><em><a href="#">Carolan’s Draught</a></em></p>
                                <p><em>Fields of Gold</em></p>
                                <p><a href="#"><em>Portuguese Love Theme</em></a></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Responsorial Psalm</h3>
                                <h4 class="font-accident-two-normal e-uppercase">(hymns)</h4>
                                <p><em>The Clouds Veil</em></p>
                                <p><em><a href="#">Mo Ghrá Thú</a></em></p>
                                <p><a href="#"><em>Wherever You Go (Song of Ruth)</em></a></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Alleluia</h3>
                                <p>There are 5 Alleluias on Claire's <a title="Listen" href="#">Listen</a>page</p>
                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Unity Candle</h3>
                                <p>It is nice here to repeat the earlier candle theme to tie the two special moments
                                    together.</p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Offertory</h3>
                                <h4 class="font-accident-two-normal e-uppercase">(Short hymn or instrumental)</h4>
                                <p><em><a href="#">Ag Críost an Síol</a>(instrumental)</em></p>
                                <p><em>The Clouds Veil (sang)</em></p>
                                <p><em>Inishirr (instrumental)</em></p>
                                <p><em>I Giorni (piano solo by Ludovico Einaudi)</em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Sign of Peace</h3>
                                <p><a href="#"><em>Tabhair Dom do Lámh</em></a></p>
                                <p><em><a href="#">Let There Be Peace Shared Among Us</a></em></p>
                                <p><em>Make Me A Channel of Your Peace</em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Communion</h3>
                                <h4 class="font-accident-two-normal e-uppercase">(2 songs is usually about right,
                                    normally hymns)</h4>
                                <p><em><a href="#">Nella Fantasia</a></em></p>
                                <p><a href="#"><em>Down in the River to Pray</em></a></p>
                                <p><em>When Love Is Found</em></p>
                                <p><em>Be Thou My Vision</em></p>
                                <p><a href="#"><em>You Are Mine</em></a></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Signing of the Register</h3>
                                <h4 class="font-accident-two-normal e-uppercase">(1 - 2 songs, or instrumental
                                    music)</h4>
                                <p><a href="#"><em>A Thousand Years</em></a></p>
                                <p><a href="#"><em>Feels Like Home</em></a></p>
                                <p><a href="#"><em>Songbird</em></a></p>
                                <p><em>Turning Page (Sleeping At Last)</em></p>
                                <p><em>Ave Maria (Beyonce)</em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase">Recessional</h3>
                                <p><em><a href="#">Carolan’s Concerto</a> (harp)</em></p>
                                <p><em>Married Life*</em></p>
                                <p><em><a href="#">Marry You</a> (Bruno Mars)</em></p>
                                <p><em>I'm Yours (Jason Mraz)</em></p>
                                <p><em>You Make My Dreams Come True (Hall &amp; Oates, sang)</em></p>
                                <p><em>Ho Hey (The Lumineers, sang /instrumental)</em></p>
                                <p><em>Here Comes The Sun (instrumental)*</em></p>
                                <p><em>You’ve Got A Friend In Me (Toy Story, piano cover)*</em></p>
                                <p><em>Wherever You Will Go (The Calling)</em></p>
                                <p><em>Ode To Joy</em></p>

                            </div>

                            <div id="civil-ceremony" class="col-md-6">
                                <h1 class="font-accident-two-normal e-uppercase text-right">Civil Ceremony</h1>
                                <div class="e-divider-1"></div>

                                <p style="text-align: right">The structure of a Civil or Humanist ceremony varies from
                                    couple to couple. Below
                                    are
                                    some ideas for your ceremony music. Typical song placement for the ceremony
                                    involves, but is not limited to:</p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase text-right">Entrance</h3>
                                <p style="text-align: right"><em>Butterfly Waltz*</em></p>
                                <p style="text-align: right"><a href="#"><em>Pachelbel's Canon</em></a></p>
                                <p style="text-align: right"><a href="#"><em>A Thousand Years</em></a></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase text-right">Optional song between
                                    readings</h3>
                                <p style="text-align: right"><a href="#"><em>Feels Like Home</em></a></p>
                                <p style="text-align: right"><em>Can't Help Falling In Love (Ingrid Michaelson)</em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase text-right">Lighting of the Candle</h3>
                                <h4 class="font-accident-two-normal e-uppercase text-right">(or other symbolism
                                    ceremony)</h4>
                                <p style="text-align: right"><em>Inishirr</em></p>
                                <p style="text-align: right"><em>Glasgow Love Theme* </em></p>
                                <p style="text-align: right"><em><a href="#">Portuguese Love Theme</a></em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase text-right">Signing of the Register</h3>
                                <p style="text-align: right"><em><a href="#">Feels Like Home</a></em></p>
                                <p style="text-align: right"><em>The Power of Love (Gabriela Alpin)</em></p>
                                <p style="text-align: right"><em><a href="#">Yours (Ella Henderson)</a></em></p>

                                <div class="e-divider-1"></div>

                                <h3 class="font-accident-two-normal e-uppercase text-right">Recessional</h3>
                                <p style="text-align: right"><em><a href="#">Carolan's Concerto</a></em></p>
                                <p style="text-align: right"><em>Paradise (Coldplay, instrumental)</em></p>
                                <p style="text-align: right"><a href="#"><em>From This Moment On</em></a></p>
                                <p style="text-align: right"><em>Wherever You Will Go (The Calling)</em></p>
                                <p style="text-align: right"><em>All You Need Is Love*</em></p>
                                <p style="text-align: right"><em>Thinking Out Loud</em></p>

                                <div class="e-divider-1"></div>

                                <h5 style="text-align: right">(* = available with piano only)</h5>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- /Post Feed -->
                <!--Instagram Section-->
                <section id="instagram" class="e-block-short">
                    <div class="container">
                        <div class="text-center">
                            <h3 class="font-accident-two-normal e-uppercase">Follow Me On Instagram</h3>
                            <!--<h5 class="font-accident-one-bold e-uppercase hovercolor">Working hard and making the success</h5>-->
                            <!--<div class="e-divider-1"></div>-->
                            <p class="btn-lg color05">
                                Please join me on Instagram, where I regularly share photos of the beautiful venues
                                that I get
                                to perform in.
                            </p>
                        </div>
                        <div class="e-divider-4"></div>
                        <div class="row nopadding">
                            <!-- LightWidget WIDGET -->
                            <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                            <iframe src="//lightwidget.com/widgets/0fdbd299d1025a00b2dcb0ad3a83b1ed.html"
                                    scrolling="no" allowtransparency="true" class="lightwidget-widget"
                                    style="width: 100%; border: 0; overflow: hidden;"></iframe>


                        </div>
                    </div>
                </section>
                <!--/Instagram Section-->
                <div class="e-divider-6"></div>

            </div>
        </div>
    </div>
{% endblock %}
