{% extends "base.html" %}
{% load static from staticfiles %}


{% block content %}
    <!-- Content Sections -->
    <div id="content">

        <!-- Post Feed -->
        <div class="container">
            <div class="row">

                <!-- Post Feed -->
                <section id="articles" class="">
                    <div class="container">
                        <div class="row">
                            <!--Content Column-->
                            <div class="col-md-12">
                                <div class="row">
                                    <article id="01" class="col-md-12 post hentry">
                                        <div class="post-detail">
                                            <h1 class="font-accident-two-normal e-uppercase text-center">Drinks
                                                Reception/Evening Meal</h1>
                                        </div>
                                        <div class="post-excerpt justify">
                                            <div id="text-16">
                                                <p>Often called the reception, drinks reception, or pre-reception,
                                                    Claire can be booked as a harpist, pianist, singer-harpist, or
                                                    singer-pianist for the arrival and entertainment of your guests at
                                                    your wedding venue. Alternatively, music can be provided to
                                                    accompany your evening meal.</p>

                                                <p>Perhaps you would like the elegance of classical piano, or maybe the
                                                    ambience of the Irish harp. Claire plays a mixture of light
                                                    classical, pop & contemporary, film music, and beautiful Irish airs.
                                                    A second instrumentalist can also be provided. For example, a lively
                                                    trad duo of fiddle and harp would bring a room to life!</p>

                                                <p>There is a reduced rate when you book a combination of services, e.g.
                                                    church music and reception music. Please <a
                                                            href="{% url 'contact' %}"><span
                                                            class=text-danger>contact</span></a> Claire
                                                    (info@claireheffernan.com) to see what she can do for you!</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="e-divider-6"></div>
                        </div>


                    </div>
                </section>

                <div class="col-md-12 flex">
                    <div class="row row-flex row-flex-wrap center container">
                        <div class="img-wrap"><img class="img-responsive"
                                                   src="{% static "assets/custom/images/nominated.jpg" %}" alt="01">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="e-divider-10"></div>
            </div>
        </div>
    </div>
{% endblock %}