{% extends "base.html" %}


{% block title %}Reset Password{% endblock %}

{% block content %}
    <div id="content">
        <div class="e-divider-10"></div>
        <div class="container text-center">
            <p>Please specify your email address to receive instructions for resetting it</p>

            <form action="" method="post">
                <div id="email-reset-field">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.email.errors }}
                    <label for="id_email">E-mail address:</label>
                    <br> {{ form.email }}
                    <div class="e-divider-1"></div>
                </div>

                <input type="submit" class="email-reset-button"
                       value="Reset"/>
            </form>
        </div>
        <div class="e-divider-10"></div>
    </div>
{% endblock %}

