{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
    <div id="content">
        <div id="text-16" class="container text-center">
            <div class="e-divider-10"></div>
            <h2 class="font-accident-two-normal e-uppercase">Success!</h2>
            <hr>
            <p>We've sent instructions for resetting your password to the email address you provided</p>
            <p>You should receive them shortly</p>
            <div class="e-divider-10"></div>

        </div>
    </div>
{% endblock %}