{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}

    <!-- Content Sections -->
    <div id="content" class="custom-buttons">
        <div id="text-16" class="container text-center">
            <div class="e-divider-10"></div>
            {% if validlink %}
                <div class="custom-inputs">

                    <form role="form" action="" method="post">
                        <legend>Password Reset</legend>
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label><br>
                        {{ form.new_password1 }}
                        {{ form.new_password2.errors }}<br><br>
                        <label for="id_new_password2">Confirm password:</label><br>
                        {{ form.new_password2 }}<br><br>
                        <button type="submit" class="email-reset-button" value="Change my password">Reset</button>
                    </form>
                </div>
                <div class="e-divider-10"></div>

            {% else %}
                <h2 class="font-accident-two-normal e-uppercase">Password reset unsuccessful</h2>
                <hr>
                <p>The password reset link was invalid, possibly because it has already been used
                    <br/>
                    Please request a new password reset</p>
                <div class="e-divider-10"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}