{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

    <div id="content">
        <div class="container">

            <!-- Page Content -->
            <section id="articles" class="">
                <div class="container">
                    <div class="row">

                        <article id="01" class="page-block col-md-12 page hentry">
                            <div class="e-divider-2"></div>
                            <div class="page-detail text-center">
                                <h2 class="entry-title page-title">Welcome!</h2>
                            </div>
                            <div class="e-divider-2"></div>

                            <div class="inner-content">

                                <img src="{% static "assets/custom/images/ciaras-card-1.bmp" %}"
                                     class="img-responsive" width="340" align="left" style="margin: 0 24px 24px 0;"
                                     alt="01">
                                <div id="text-16">
                                    <p>
                                        Claire Heffernan (MA Music Performance, BMus) performs an exquisite mix of
                                        soulful
                                        contemporary song, light classical, and a more delicate Celtic sound. She is a
                                        classical pianist, Irish harpist and vocalist based in Limerick, performing at
                                        weddings and events for the past 10 years throughout Limerick, Clare, Tipperary,
                                        Cork, Galway, Kerry, Offaly, and beyond. She strives to create the perfect
                                        musical
                                        atmosphere for your occasion.
                                    </p>
                                    <p>
                                        Claire is a classical soprano, pop vocalist, choral singer, and
                                        singer-songwriter. Versatility of style is one of her strengths – classical,
                                        pop, soul, folk, jazz, Irish, musical theatre.
                                        She began with 11 years of musical theatre in a stage school, and went on to
                                        achieve Grade 8 Voice (ABRSM, with an “outstanding” distinction) under Máire
                                        Keary Scanlon, as well as undertaking many years of classical voice training
                                        with Robert Craig (MMus Juilliard) at the CIT Cork School of Music.
                                    </p>
                                    <p>
                                        As a singer, Claire has worked as a vocal coach and choral director (Voiceworks
                                        Studio, Cork), a harpist-singer (Knappogue Castle, Shannon Heritage
                                        2007-present), and has been a longstanding member of the
                                        internationally-acclaimed chamber choir Voci Nuove (Ireland’s Choir of the Year,
                                        2015 & 2016).
                                    </p>
                                    <p>
                                        She has performed as a solo vocalist in concert with the CIT Cork School of
                                        Music Jazz Big Band; Voci Nuove Choir; Pfizerpfonics Choir; “Take Me Or Leave
                                        Me: Hits from the Musicals” at the Half Moon Theatre, Cork; and at the Cork
                                        Guiness Jazz Festival as a co-headliner for Voiceworks Jazz Showcase, Imperial
                                        Hotel, Cork.
                                        On 29th March – 1st April 2017, she will perform the principle role of Florence
                                        in Limerick Musical Society‘s Chess at the University Concert Hall, Limerick.
                                    </p>
                                </div>
                                <blockquote>
                                    “From talking to Claire over the phone, getting her advice and listening to the
                                    music on her website, we knew we were in safe hands! Claire has an amazing voice,
                                    she sang and played the harp beautifully. Claire is a true professional, she takes
                                    one less stress out of wedding planning and we highly recommend her.”
                                    <footer id="less-bottom">
                                        Claire-Ann & Colin, June 2014
                                    </footer>
                                </blockquote>

                                <div id="text-16">
                                    <p>
                                        Claire began harp at ten years old, and went on to complete the Royal Irish
                                        Academy
                                        of Music (RIAM) Grade 8 examination with a high distinction. That same year, in
                                        2007, she achieved the the RIAM Gold Medal for solo harp performance. Since
                                        then,
                                        she has been one of the principal harpists for Shannon Heritage. For six months
                                        every year, she performs for Knappogue Castle in Co. Clare (2007-present).
                                    </p>
                                    <p>
                                        Claire performs as a harpist for the world-renowned Bunratty Castle Banquets, as
                                        well as in the beloved Bunratty restaurant, Gallaghers. She has performed with
                                        the
                                        Cork School of Music Project Orchestra, Pfizerpfonics, Cantamus, and has
                                        featured as
                                        a guest soloist at Carols by Candlelight, Fota House‘s annual festive event.

                                        She is an in-demand musician, actively taking bookings for private functions,
                                        weddings, concerts, and recordings in the Munster area. She is available to
                                        collaborate with other singers and instrumentalists.

                                        She plays on a beautiful Livia, a 36-string lever harp by Salvi. She can also
                                        provide a PA system for harp (microphone, pre-amp, speaker), should a venue
                                        require
                                        it.
                                    </p>
                                </div>


                            </div>
                        </article>

                    </div>
                </div>

            </section>
            <!-- /Page Content -->

            <!--Share Section-->
            <section id="share" class="e-block-null">
                <div class="container text-center">
                    <div class="share-tag-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="darkrose lined">Share This</h4>
                                <ul class="list-inline social share"><!-- Social Share -->
                                    <li>
                                        <a href="#!" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!" class="rst-icon-google-plus"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!" class="rst-icon-linkedin"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="rst-icon-pinterest" href="#!"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="e-divider-6"></div>
            </section>


        </div>
    </div>

{% endblock %}