{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

    <div id="content">

        <!-- Page Content -->
        <section id="articles" class="">
            <div class="container">
                <div class="row">

                    <article id="01" class="page-block col-md-12 page hentry">
                        <div class="e-divider-2"></div>
                        <div class="page-detail text-center">
                            <h2 class="entry-title page-title">Welcome!</h2>
                        </div>
                        <div class="e-divider-2"></div>

                        <div class="inner-content">

                            <img src="{% static "assets/custom/images/ciaras-card-1.bmp" %}"
                                 class="img-responsive" width="340" align="left" style="margin: 0 24px 24px 0;"
                                 alt="01">
                            <div id="text-16">
                                <p>
                                    Claire Heffernan (MA Music Performance, BMus) performs an exquisite mix of
                                    soulful
                                    contemporary song, light classical, and a more delicate Celtic sound. She is a
                                    classical pianist, Irish harpist and vocalist based in Limerick, performing at
                                    weddings and events for the past 10 years throughout Limerick, Clare, Tipperary,
                                    Cork, Galway, Kerry, Offaly, and beyond. She strives to create the perfect
                                    musical
                                    atmosphere for your occasion.
                                </p>
                                <p>
                                    Claire is a classical soprano, pop vocalist, choral singer, and
                                    singer-songwriter. Versatility of style is one of her strengths – classical,
                                    pop, soul, folk, jazz, Irish, musical theatre.
                                    She began with 11 years of musical theatre in a stage school, and went on to
                                    achieve Grade 8 Voice (ABRSM, with an “outstanding” distinction) under Máire
                                    Keary Scanlon, as well as undertaking many years of classical voice training
                                    with Robert Craig (MMus Juilliard) at the CIT Cork School of Music.
                                </p>
                                <p>
                                    As a singer, Claire has worked as a vocal coach and choral director (Voiceworks
                                    Studio, Cork), a harpist-singer (Knappogue Castle, Shannon Heritage
                                    2007-present), and has been a longstanding member of the
                                    internationally-acclaimed chamber choir Voci Nuove (Ireland’s Choir of the Year,
                                    2015 & 2016).
                                </p>
                                <p>
                                    She has performed as a solo vocalist in concert with the CIT Cork School of
                                    Music Jazz Big Band; Voci Nuove Choir; Pfizerpfonics Choir; “Take Me Or Leave
                                    Me: Hits from the Musicals” at the Half Moon Theatre, Cork; and at the Cork
                                    Guiness Jazz Festival as a co-headliner for Voiceworks Jazz Showcase, Imperial
                                    Hotel, Cork.
                                    On 29th March – 1st April 2017, she will perform the principle role of Florence
                                    in Limerick Musical Society‘s Chess at the University Concert Hall, Limerick.
                                </p>
                            </div>

                            <!-- Testimonial Slider Section -->

                            <div class="container testimonial-slider">
                                <div class="row remove-padding">
                                    <div class='col-md-12 remove-padding text-center'>
                                        <h3 class="font-accident-two-normal e-uppercase">What some of My Wonderful
                                            Clients Have Said About Me</h3>
                                    </div>
                                </div>
                                <div class='row remove-padding'>
                                    <div class='col-md-12 remove-padding'>
                                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                            <!-- Bottom Carousel Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#quote-carousel" data-slide-to="0"
                                                    class="active"></li>
                                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                                                <li data-target="#quote-carousel" data-slide-to="3"></li>
                                                <li data-target="#quote-carousel" data-slide-to="4"></li>
                                            </ol>

                                            <!-- Carousel Slides / Quotes -->
                                            <div class="carousel-inner">

                                                <!-- Quote 1 -->
                                                <div class="item active">
                                                    <blockquote>
                                                        <div class="row">
                                                            <div class="col-sm-12 nopadding">
                                                                <p>You were absolutely bloody amazing!! Honest to God
                                                                    you were just unbelievable. Everyone was talking
                                                                    about you … Most beautiful voice ever" "Numerous
                                                                    guests actually thought it was a cd playing, that
                                                                    speaks for itself!!</p>
                                                                <small class="padding-bottom-15 text-center">Audrey &
                                                                    Scott, May 2016
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </blockquote>
                                                </div>
                                                <!-- Quote 2 -->
                                                <div class="item">
                                                    <blockquote>
                                                        <div class="row">
                                                            <div class="col-sm-12 nopadding">
                                                                <p>From talking to Claire over the phone, getting her
                                                                    advice and listening to the music on her website, we
                                                                    knew we were in safe hands! Claire has an amazing
                                                                    voice, she sang and played the harp beautifully.
                                                                    Claire is a true professional, she takes one less
                                                                    stress out of wedding planning and we highly
                                                                    recommend her.</p>
                                                                <small class="padding-bottom-15 text-center">Claire-Ann
                                                                    & Colin, June 2014
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </blockquote>
                                                </div>
                                                <!-- Quote 3 -->
                                                <div class="item">
                                                    <blockquote>
                                                        <div class="row">
                                                            <div class="col-sm-12 nopadding">
                                                                <p>Wow is all I can say, what a voice you have. Every
                                                                    one of our guests commented on how amazing you are.
                                                                    Thank you for making our wedding so beautiful and
                                                                    personal. You have the voice of an angel.</p>
                                                                <small class="padding-bottom-15 text-center">Nicola &
                                                                    Gerrold, October 2014
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </blockquote>
                                                </div>
                                                <!-- Quote 4 -->
                                                <div class="item">
                                                    <blockquote>
                                                        <div class="row">
                                                            <div class="col-sm-12 nopadding">
                                                                <p>The harp and singing together was amazing!!! Everyone
                                                                    commented on how great you sounded and the fantastic
                                                                    recommendations you made with the music choices made
                                                                    the ceremony all the more special! Thank you for
                                                                    making our day so special and unique to us.</p>
                                                                <small class="padding-bottom-15 text-center">Jill &
                                                                    Steven, 2015
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </blockquote>
                                                </div>
                                                <!-- Quote 5 -->
                                                <div class="item">
                                                    <blockquote>
                                                        <div class="row">
                                                            <div class="col-sm-12 nopadding">
                                                                <p>You made our special day magical. Your voice filled
                                                                    the church and the hearts of everyone around us. So
                                                                    many of our family and friends expressed how the
                                                                    girl singing at church was amazing, and how your
                                                                    voice was angelic. Thank you Claire, you are
                                                                    extremely talented</p>
                                                                <small class="padding-bottom-15 text-center">Melody &
                                                                    Eoin, July 2016
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </blockquote>
                                                </div>
                                            </div>

                                            <!-- Carousel Buttons Next/Prev -->
                                            <a data-slide="prev" href="#quote-carousel"
                                               class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                            <a data-slide="next" href="#quote-carousel"
                                               class="right carousel-control"><i
                                                    class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- / Testimonial Slider Section -->

                            <div id="text-16">
                                <p>
                                    Claire began harp at ten years old, and went on to complete the Royal Irish
                                    Academy
                                    of Music (RIAM) Grade 8 examination with a high distinction. That same year, in
                                    2007, she achieved the the RIAM Gold Medal for solo harp performance. Since
                                    then,
                                    she has been one of the principal harpists for Shannon Heritage. For six months
                                    every year, she performs for Knappogue Castle in Co. Clare (2007-present).
                                </p>
                                <p>
                                    Claire performs as a harpist for the world-renowned Bunratty Castle Banquets, as
                                    well as in the beloved Bunratty restaurant, Gallaghers. She has performed with
                                    the
                                    Cork School of Music Project Orchestra, Pfizerpfonics, Cantamus, and has
                                    featured as
                                    a guest soloist at Carols by Candlelight, Fota House‘s annual festive event.

                                    She is an in-demand musician, actively taking bookings for private functions,
                                    weddings, concerts, and recordings in the Munster area. She is available to
                                    collaborate with other singers and instrumentalists.

                                    She plays on a beautiful Livia, a 36-string lever harp by Salvi. She can also
                                    provide a PA system for harp (microphone, pre-amp, speaker), should a venue
                                    require
                                    it.
                                </p>
                            </div>


                        </div>
                    </article>

                </div>
            </div>

        </section>
        <div class="e-divider-4"></div>
        <!-- /Page Content -->


    </div>

{% endblock %}