{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- Content Sections -->
    <div id="content">
        <div class="container">


        <!-- Post Feed -->
        <section id="articles" class="">

            <div class="container">
                <div class="row has-sidebar-left">


                    <!--Sidebar-->
                    <div class="col-md-4 sticky-column" data-sticky_column>
                        <div class="sidebar">


                            <!--Newsletter Widget-->
                            <aside id="newsletter-widget" class="widget widget_newsletterwidget">
                                <div class="title widget-title lined">Newsletter</div>
                                <p>Sign up to receive updates <br>and the latests news about me. I respect your privacy
                                    and don't spam.</p>
                                <div class="newsletter newsletter-widget">
                                    <form action="#"><input type="hidden" name="nr" value="widget">
                                        <p><input class="newsletter-firstname" type="text" name="nn" placeholder="Name">
                                        </p>
                                        <p><input class="newsletter-email" type="email" required="" name="ne"
                                                  placeholder="Email"></p>
                                        <p><input class="newsletter-submit btn btn-rose" type="submit"
                                                  value="Subscribe"></p>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/Newsletter Widget-->

                            <!--Resent Posts Widget-->
                            <aside id="resent-widget" class="widget widget_recent_post">
                                <div class="title widget-title lined">Recent Post</div>
                                <div>
                                    <div class="media">
                                        <div class="media-left"><a href="#!"><img class="media-object"
                                                                                  src="assets/custom/images/resent-01.jpg"
                                                                                  alt="01"></a></div>
                                        <div class="media-body">
                                            <span class="meta-date">29 July 2015</span>
                                            <h4 class="media-heading">
                                                <a href="#!">Elegant, Simple &amp; Minimalist Blog <em
                                                        class="highlight">Made With Love</em></a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#!"><img class="media-object"
                                                              src="assets/custom/images/resent-02.jpg" alt="01"></a>
                                        </div>
                                        <div class="media-body"><h4 class="media-heading">
                                            <span class="meta-date">22 July 2015</span>
                                            <a href="#!">Enjoy Browsing Your Beautiful Photos</a></h4>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#!">
                                                <img class="media-object" src="assets/custom/images/resent-03.jpg"
                                                     alt="01">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="meta-date">29 July 2015</span>
                                            <h4 class="media-heading"><a href="#!">Vimeo Post with auto get
                                                thumbnail</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="e-divider-4"></div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/Resent Posts Widget-->

                            <!--Instagram Widget-->
                            <aside id="instagram-widget" class="widget widget_instagram">
                                <div class="title widget-title lined">Instagram</div>
                                <div>
                                    <div class="media">
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12328429_1661245097460326_255494091_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12599154_962398730508083_979241627_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12677660_174383292934538_1188800865_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12716546_444262579096572_467284739_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12819136_834492543346861_161860596_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/12826108_260008874330168_1360366906_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/13098928_1102771833111874_1789875443_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/13108705_1780772878824561_1506041613_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                        <div class="media-body"><img
                                                src="assets/custom/images/instagram/13181405_1079602612133517_832563465_n.jpg"
                                                class="img-responsive" alt="01"></div>
                                    </div>
                                </div>
                                <div class="e-divider-4"></div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/Instagram Widget-->

                            <!--Categories Widget-->
                            <aside id="categories-widget" class="widget widget_categories">
                                <div class="title widget-title lined">Categories</div>
                                <ul>
                                    <li class="cat-item cat-item-2"><a href="#!">Blogging</a> (4)
                                    </li>
                                    <li class="cat-item cat-item-19"><a href="#!">Europe</a> (5)
                                    </li>
                                    <li class="cat-item cat-item-40"><a href="#!">Holidays</a> (2)
                                    </li>
                                    <li class="cat-item cat-item-3"><a href="#!">Leadership</a> (3)
                                    </li>
                                    <li class="cat-item cat-item-43"><a href="#!">Travel</a> (4)
                                    </li>
                                    <li class="cat-item cat-item-1"><a href="#!">Uncategorized</a> (3)
                                    </li>
                                    <li class="cat-item cat-item-7"><a href="#!">Video</a> (2)
                                    </li>
                                </ul>
                                <div class="e-divider-2"></div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/Categories Widget-->

                            <!--Archives Widget-->
                            <aside id="archives-widget" class="widget widget_archive">
                                <div class="title widget-title lined">Archives</div>
                                <ul>
                                    <li><a href="#!">August 2015</a></li>
                                    <li><a href="#!">July 2015</a></li>
                                    <li><a href="#!">June 2015</a></li>
                                    <li><a href="#!">May 2015</a></li>
                                </ul>
                                <div class="e-divider-2"></div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/Archives Widget-->

                        </div>
                    </div>
                    <!--/Sidebar-->

                    <!--Content Column-->
                    <div class="col-md-8 pull-right">
                        <div class="row">

                            <article id="01"
                                     class="post-block col-md-12 post type-post status-publish format-standard has-post-thumbnail hentry">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Europe &nbsp;/</a>&nbsp;<a href="#!"
                                                                                                   rel="category tag">Travel</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">Elegant, Simple &amp; Awesome Blog
                                        <em class="highlight">Made With Passion</em></a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <a href="blog-post.html">
                                        <img class="img-responsive" src="assets/custom/images/demo01/10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-excerpt">
                                    <p>Travel is the movement of people between relatively distant geographical
                                        locations, and can involve travel by foot, bicycle, automobile, train, boat,
                                        airplane, or other means, with or without luggage, and can be one way or round
                                        trip. Travel can also include relatively short stays between successive
                                        movements...</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="02"
                                     class="post-block col-md-12 post-49 post type-post status-publish format-gallery hentry category-blogging category-leadership post_format-post-format-gallery">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Blogging &nbsp;/</a>&nbsp;<a href="#!"
                                                                                                     rel="category tag">Leadership</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">This is a Slider for <em>Gallery
                                        Post Type</em> – Enjoy Browsing Your Beautiful Photos</a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <div class="owl-carousel owl-theme">
                                        <div class="item"><img class="img-responsive"
                                                               src="assets/custom/images/demo01/09.jpg" alt=""></div>
                                        <div class="item"><img class="img-responsive"
                                                               src="assets/custom/images/demo01/11.jpg" alt=""></div>
                                        <div class="item"><img class="img-responsive"
                                                               src="assets/custom/images/demo01/03.jpg" alt=""></div>
                                        <div class="item"><img class="img-responsive"
                                                               src="assets/custom/images/demo01/01.jpg" alt=""></div>
                                    </div>
                                </div>
                                <div class="post-excerpt">
                                    <p>Indigo is a color that is traditionally regarded as a color in the visible
                                        spectrum, as well as one of the seven colors of the rainbow: the color between
                                        blue and violet. Although traditionally considered one of seven major spectral
                                        colors, sources differ as to its actual position in the electromagnetic
                                        spectrum.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="03"
                                     class="post-block col-md-12 post-137 post type-post status-publish format-video has-post-thumbnail hentry category-europe category-travel tag-travel tag-travel-advice tag-travel-packing-tips tag-trips post_format-post-format-video">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Blogging &nbsp;/</a>&nbsp;<a href="#!"
                                                                                                     rel="category tag">Leadership</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">Vimeo Post with auto get
                                        thumbnail</a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="https://player.vimeo.com/video/134300640?color=ffffff&byline=0&portrait=0"
                                                width="640" height="268" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="post-excerpt">
                                    <p>The Mini (marque), which includes a number of different models produced by BMW
                                        since 2000. A number of different models have cars with the "Mini Cooper" title,
                                        including the Mini Hatch, the Mini Convertible, the Mini Clubman, the Mini
                                        Countryman, the Mini Coupé, the Mini Roadster, and the Mini Paceman…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="04"
                                     class="post-block col-md-12 post-19 post type-post status-publish format-quote hentry category-uncategorized post_format-post-format-quote">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Uncategorized</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">This is a Quote Post</a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <a href="blog-post.html">
                                        <img class="img-responsive" src="assets/custom/images/demo01/01.jpg" alt="">
                                    </a>
                                </div>
                                <blockquote>
                                    If you live long enough, you'll make mistakes. But if you learn from them, you'll be
                                    a better person. It's how you handle adversity, not how it affects you. The main
                                    thing is never quit, never quit, never quit.
                                    <footer>William J. Clinton</footer>
                                </blockquote>
                                <div class="post-excerpt"></div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="05"
                                     class="post-block col-md-12 post-20 post type-post status-publish format-video has-post-thumbnail hentry category-video tag-music tag-video post_format-post-format-video">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Video</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">This is Video Post Using <em
                                            class="highlight">Youtube Embed Codes</em></a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="560" height="315"
                                                src="https://www.youtube.com/embed/T0q-KnaheFE?rel=0&amp;controls=0&amp;showinfo=0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="post-excerpt">
                                    <p>Garden design is the art and process of designing and creating plans for layout
                                        and planting of gardens and landscapes. Garden design may be done by the garden
                                        owner themselves, or by professionals of varying levels of experience and
                                        expertise.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="06"
                                     class="post-block col-md-12 post-28 post type-post status-publish format-audio has-post-thumbnail hentry category-holidays post_format-post-format-audio">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Holidays</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">This is a SoundCloud Post</a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap">
                                    <iframe width="360" height="166"
                                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/249027617&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                </div>
                                <div class="post-excerpt">
                                    <p>Geographically, Tunisia contains the eastern end of the Atlas Mountains and the
                                        northern reaches of the Sahara desert. Much of the rest of the country's land is
                                        fertile soil. Its 1,300 kilometres (810 miles) of coastline includes the African
                                        conjunction of the western and eastern parts of the Mediterranean Basin and, by
                                        means of the Sicilian Strait and Sardinian Channel, features the African
                                        mainland's second and third nearest points to Europe after Gibraltar.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="07"
                                     class="post-block col-md-12 post-179 post type-post status-publish format-gallery hentry category-uncategorized post_format-post-format-gallery">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Uncategorized</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">Greece Vacation in August</a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>
                                <div class="img-wrap"><a href="blog-post.html"><img class="img-responsive"
                                                                                    src="assets/custom/images/demo01/03.jpg"
                                                                                    alt=""></a></div>
                                <div class="post-excerpt">
                                    <p>Outside the European context, emperor was the translation given to holders of
                                        titles who were accorded the same precedence as European emperors in diplomatic
                                        terms. In reciprocity, these rulers might accredit equal titles in their native
                                        languages to their European peers. Through centuries of international
                                        convention, this has become the dominant rule to identifying an emperor in the
                                        modern era.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="08"
                                     class="post-block col-md-12 post-148 post type-post status-publish format-standard has-post-thumbnail hentry category-holidays tag-holiday-travel tag-travel tag-travel-packing-tips">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Holidays</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">10 Places To Get That Holiday
                                        Trip</a></h2> <!-- Post Title-->
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>

                                <div class="img-wrap"><a href="blog-post.html"><img class="img-responsive"
                                                                                    src="assets/custom/images/demo01/08.jpg"
                                                                                    alt=""></a></div>
                                <div class="post-excerpt">
                                    <p>Because perception of color stems from the varying spectral sensitivity of
                                        different types of cone cells in the retina to different parts of the spectrum,
                                        colors may be defined and quantified by the degree to which they stimulate these
                                        cells. These physical or physiological quantifications of color, however, do not
                                        fully explain the psychophysical perception of color appearance.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="09"
                                     class="post-block col-md-12 post-133 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-camping tag-equipment tag-gear tag-hiking tag-outdoors">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Travel</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">5 Tips for Successful <strong>Bird
                                        Watching</strong></a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>

                                <div class="img-wrap"><a href="blog-post.html"><img class="img-responsive"
                                                                                    src="assets/custom/images/demo01/05.jpg"
                                                                                    alt=""></a></div>
                                <div class="post-excerpt">
                                    <p>Mathematical symmetry may be observed with respect to the passage of time; as a
                                        spatial relationship; through geometric transformations such as scaling,
                                        reflection, and rotation; through other kinds of functional transformations; and
                                        as an aspect of abstract objects, theoretic models, language, music and even
                                        knowledge itself…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <article id="10"
                                     class="post-block col-md-12 post-173 post type-post status-publish format-standard has-post-thumbnail hentry category-blogging category-europe">
                                <div class="post-detail">
                                    <div class="meta-cat">
                                        <a href="#!" rel="category tag">Europe &nbsp;/</a>&nbsp;<a href="#!"
                                                                                                   rel="category tag">Travel</a>
                                    </div>
                                    <h2 class="entry-title"><a href="blog-post.html">Daisy is an Elegant, Simple &amp;
                                        Minimalist Blog comes with <em class="highlight">Lots of Features</em></a></h2>
                                    <div class="metas">
                                        Posted on: <a href="#!" class="meta-date">29 July</a>/&nbsp;
                                        Posted by: <a href="#!" class="meta-author">admin</a>/&nbsp;
                                        <a href="#!" class="meta-comment">0 Comment</a>
                                    </div>
                                </div>

                                <div class="img-wrap"><a href="blog-post.html"><img class="img-responsive"
                                                                                    src="assets/custom/images/demo01/11.jpg"
                                                                                    alt=""></a></div>
                                <div class="post-excerpt">
                                    <p>Psychologists explore concepts such as perception, cognition, attention, emotion,
                                        intelligence, phenomenology, motivation, brain functioning, personality,
                                        behavior, and interpersonal relationships, including psychological resilience,
                                        family resilience, and other areas. Psychologists of diverse orientations also
                                        consider the unconscious mind.…</p>
                                </div>
                                <div class="">
                                    <a href="blog-post.html" class="btn btn-default tf-btn txt-link btn-rose-str">Continue
                                        reading...</a>
                                </div>
                            </article>

                            <!--Pagination-->
                            <div class="col-md-12">
                                <div id="tf-pagination">
                                    <nav class="wp-pagenavi">
                                        <span class="page-numbers current">1</span>
                                        <a class="page-numbers" href="#!">2</a>
                                        <a class="next page-numbers" href="#!">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!--/Pagination-->

                        </div>
                    </div>
                    <!--/Content Column-->


                </div>
            </div>

        </section>
        <!-- /Post Feed -->

        <!--Instagram Section-->
        <!--/Instagram Section-->

        <div class="e-divider-6"></div>
        <div class="text-center">
            <div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div>
        </div>
        <div class="e-divider-4"></div>

    </div>
    <!-- /Content Sections -->

{% endblock %}
