{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <!-- Content Sections -->
    <div id="content">
        <!--Owl Carousel-->
        <section id="owl-carousel">
            <div class="container">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="{% static "assets/custom/images/Claire_Harp.jpg" %}" class="img-responsive"
                             alt="Claire_Harp">
                    </div>
                    <div class="item">
                        <img src="{% static "assets/custom/images/Claire_Harp.jpg" %}" class="img-responsive"
                             alt="Claire_Harp">
                    </div>
                    <div class="item">
                        <img src="{% static "assets/custom/images/Claire_Harp.jpg" %}" class="img-responsive"
                             alt="Claire_Harp">
                    </div>
                    <div class="item">
                        <img src="{% static "assets/custom/images/Claire_Harp.jpg" %}" class="img-responsive"
                             alt="Claire_Harp">
                    </div>
                </div>
            </div>
            <div class="e-divider-1"></div>
        </section>
        <!--/Owl Carousel-->
        <!-- Post Feed -->
        <section id="articles" class="">
            <div class="container">
                <div class="row has-sidebar-right">
                    <!--Content Column-->
                    <div class="col-md-8 pull-left">
                        <div class="row">
                            <article id="01" class="col-md-12 post hentry">
                                <div class="post-detail">
                                    <h2 class="entry-title"><a href="#">Music for Weddings &amp; Events</a></h2>
                                </div>
                                <div class="post-excerpt justify">
                                    <p>My aim is to make your day more special than you ever could have hoped for. I
                                        provide a highly personalised service which will ensure that you get exactly
                                        what you want for your celebration, and will create magical memories for you and
                                        your guests for years to come.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>My aim is to make your day more special than you ever could have hoped for. I
                                        provide a highly personalised service which will ensure that you get exactly
                                        what you want for your celebration, and will create magical memories for you and
                                        your guests for years to come. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!--/Content Column-->
                    <!--Sidebar-->
                    <div class="col-md-4" data-sticky_column>
                        <div class="sidebar">
                            <!--About Widget-->
                            <aside id="about-widget" class="widget widget_about">
                                <div class="text-center widget-wrap widget_extra">
                                    <div class="e-divider-4"></div>
                                    <img class="img-circle  author-img"
                                         src="{% static "assets/custom/images/Claire_Profile.jpg" %}"
                                         alt="01">
                                    <div class="e-divider-3"></div>
                                    <h5 class="hello">Hi! I'm Claire</h5>
                                    <p>I've been providing music for weddings since before I was old enough to be left
                                        alone without my parents.</p>
                                    <div class="e-divider-2"></div>
                                    <ul class="list-inline social">
                                        <li><a target="_blank" href="#" class="rst-icon-facebook"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" href="#" class="rst-icon-instagram"><i
                                                class="fa fa-instagram"></i></a></li>
                                        <li><a target="_blank" href="#" class="rst-icon-youtube"><i
                                                class="fa fa-youtube"></i></a></li>
                                    </ul>
                                    <div class="e-divider-2"></div>
                                </div>
                                <div class="clearfix"></div>
                            </aside>
                            <!--/ About Widget-->
                        </div>
                    </div>
                    <!--/Sidebar-->
                </div>
            </div>
        </section>
        <!-- /Post Feed -->
        <!--Instagram Section-->
        <section id="instagram" class="e-block-short">
            <div class="container">
                <div class="text-center">
                    <h3 class="font-accident-two-normal e-uppercase">Enjoy My Instagram Feed</h3>
                    <!--<h5 class="font-accident-one-bold e-uppercase hovercolor">Working hard and making the success</h5>-->
                    <!--<div class="e-divider-1"></div>-->
                    <p class="small color05">
                        Please join me on Instagram, where I regularly share photos of the beautiful venues that I get
                        to perform in.
                    </p>
                </div>
                <div class="e-divider-4"></div>
                <div class="row nopadding">
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/14052717_1065157316872032_2111328717_n.jpg" %}"
                            class="img-responsive" alt="01"></div>
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/14072951_1573982872909440_2050232782_n.jpg" %}"
                            class="img-responsive" alt="01"></div>
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/14063557_1242659499101415_1986696332_n.jpg" %}"
                            class="img-responsive" alt="01"></div>
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/14271989_1169643843108826_1962734274_n(1).jpg" %}"
                            class="img-responsive" alt="01"></div>
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/14564885_196538164127434_6134474855136886784_n.jpg" %}"
                            class="img-responsive" alt="01"></div>
                    <div class="col-md-2 col-xs-6 nopadding"><img
                            src="{% static "assets/custom/images/instagram/16110229_411372242550185_7515225335206510592_n.jpg" %}"
                            class="img-responsive" alt="01"></div>
                </div>
            </div>
        </section>
        <!--/Instagram Section-->
        <div class="e-divider-6"></div>
        <div class="text-center">
            <div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div>
        </div>
        <div class="e-divider-4"></div>
    </div>
    <!-- /Content Sections -->
{% endblock %}
