{% extends "base.html" %}
{% block content %}
    <div id="content">
        <div id="text-16" class="container text-center">
            <div class="e-divider-20"></div>
            <p>This page will detail the different packages that a customer can book.</p>
            <p>Church Ceremony, Civil Ceremony, Dinner Music, Reception etc.</p>
            <p>Different instrument combinations, voice, harp, piano.</p>
            <div class="e-divider-20"></div>
        </div>
    </div>
{% endblock %}