{% extends "base.html" %}
{% block content %}

    <div id="content">
        <div class="container">
            <div class="e-divider-20"></div>
            <h2 class="font-accident-two-normal e-uppercase text-center">Thank You</h2>
            <hr>
            <p class="text-center">You have paid successfully, but it may take 5 working days for your account balance
                to be updated</p>
            <p class="text-center">If you wish to pay the full balance online, please contact me via email to arrange
                payment</p>
            <hr>
            <p class="text-center">Return to your event by clicking <a href="{% url 'user_event' %}"><span
                    class="text-danger">here</span></a></p>
            <div class="e-divider-20"></div>

        </div>
    </div>

{% endblock %}