{% extends "base.html" %}
{% block content %}

    <div id="content">
        <div class="container">
            <div class="e-divider-20"></div>
            <h2 class="font-accident-two-normal e-uppercase text-center">I'm Sorry</h2>
            <hr>
            <p class="text-center">If you have finalised any details with me via email or my <a
                    href="{% url 'contact' %}"><span class="text-danger">Contact</span></a> page, they'll appear here
                soon</p>
            <p class="text-center">Return to safety by clicking <a href="{% url 'index' %}"><span class="text-danger">here</span></a>
            </p>
            <div class="e-divider-20"></div>
        </div>
    </div>

{% endblock %}