{% extends "base.html" %}
{% block content %}

    <div id="content" class="custom-buttons">
        <div class="container text-center ipad">

            {% load bootstrap_tags %}
            <div class="e-divider-2"></div>
            <h1 class="font-accident-two-normal e-uppercase text-center">Contact Me</h1>
            <div class="e-divider-2"></div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="login-button">Submit</button>
            </form>
            <div class="e-divider-2"></div>

        </div>
    </div>
{% endblock %}
