{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

    <!-- Content Sections -->
    <div id="content">
        <div class="container">

            <form role="form" method="post" action="{% url 'login' %}?next={{ 'profile' }}">
                <legend>Login</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

