{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

    <!-- Content Sections -->
    <div id="content" class="custom-buttons">
        <div id="text-16" class="container text-center">
            <div class="e-divider-10"></div>
            <div class="custom-inputs">

                <form role="form" method="post" action="{% url 'login' %}?next={% url 'success' %}">

                    <legend>Login</legend>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <p><a href="{% url 'password_reset' %}">I forgot my password</a></p>

                    <div class="form-group">
                        <button type="submit" class="login-button">Login</button>
                    </div>

                </form>
            </div>
            <div class="e-divider-10"></div>
        </div>
    </div>
{% endblock %}

