{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

    <!-- Content Sections -->
    <div id="content">
        <div id="text-16" class="container text-center">
            <div class="e-divider-10"></div>

            <form role="form" method="post" action="{% url 'register' %}">
                <legend>Create a new account</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </form>
            <div class="e-divider-10"></div>


        </div>
    </div>

{% endblock %}