/*------------------------------------------------------------------
[13. Media Query]
*/

@media (max-width: 1200px) {
    .event-details {
        position: relative;
        top: 0px;
    }
}

@media (min-width: 992px) {
    .event-details {
        position: relative;
        top: 0px;
    }
}

@media (max-width: 992px) {
    .event-details {
        position: relative;
        top: 0px;
    }

    .ipad {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
    #email-reset-field input {
        width: 75%;
        text-align: center;
        text-indent: 0;
    }

    .email-reset-button {
        width: 30%;
        text-indent: 0;
        border: none;
    }

    .custom-inputs input {
        margin: 0 auto;
        width: 75%;
        text-align: center;
        text-indent: 0;
    }

    .ipad {
        padding-top: 0;
    }

}

@media (max-width: 400px) {

    .custom-buttons button {
        width: 30%;
        text-indent: 0;
        border: none;
    }

    #email-reset-field input {
        width: 100%;
        text-align: center;
        text-indent: 0;
    }

    .custom-inputs input {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        text-indent: 0;
    }

    #quote-carousel {
        padding: 0 35px 30px 40px;
        margin-top: 30px;
    }

    .testimonial-slider {
        padding-bottom: 50px;
    }

    .ipad {
        padding-top: 0;
    }

}

